fastapi
uvicorn[standard]
python-multipart
aiofiles

opencv-python
numpy
pillow

ffmpeg-python

requests
httpx

paho-mqtt

sqlalchemy
psycopg2-binary

redis

python-dotenv

tqdm

watchdog

orjson

aiohttp